
.nav-link {
    float: right;
    margin-top: 25px;
}
.nav-link a {
    text-decoration: none;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: rgb(15,15,15);

}
.top {
    justify-content: right;
    padding: 10px;
    margin: 10px;
}

.first {
    background-image: url('https://images.pexels.com/photos/8004565/pexels-photo-8004565.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    height: 100%;
    width: 100%;
    

}